<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Collections" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
package <%=Package%>.<%=Project%>.<%=Module%>.mapper;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.cly.mp.mapper.MyBaseMapper;
import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;

import <%=Package%>.<%=Project%>.<%=Module%>.entity.<%= GetClassName(SourceTable) %>;
import <%=Package%>.<%=Project%>.<%=Module%>.dto.param.<%= GetClassName(SourceTable) %>QueryParam;
import <%=Package%>.<%=Project%>.<%=Module%>.dto.vo.page.<%= GetClassName(SourceTable) %>QueryPageVo;


/**
 *Name: <%=SourceTable.Description%> Mapper接口
 *Author: Caicai
 *Date: <%= DateTime.Now.ToString("yyyy-MM-dd") %>
 *Description: <%= String.Format("Copyright {0} CCai", DateTime.Now.ToString("yyyy")) %>
 */ 
@Repository
public interface <%= GetClassName(SourceTable) %>Mapper extends MyBaseMapper<<%= GetClassName(SourceTable) %>> {


    /**
     * 获取分页对象
     * @param page
     * @param param
     * @return
     */
    IPage<<%= GetClassName(SourceTable) %>QueryPageVo> getPageList(@Param("page") Page page, @Param("param") <%= GetClassName(SourceTable) %>QueryParam param);

}

 
<!-- #include file="script.inc" -->