<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Collections" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
package <%=Package%>.dbs.service;

import com.cly.model.Paging;
import com.cly.mp.service.BaseService;
import <%=Package%>.dbs.pojo.dto.form.<%= GetClassName(SourceTable) %>FormDto;
import <%=Package%>.dbs.pojo.dto.param.<%= GetClassName(SourceTable) %>ParamDto;
import <%=Package%>.dbs.pojo.entity.<%= GetClassName(SourceTable) %>;
import <%=Package%>.dbs.pojo.vo.page.<%= GetClassName(SourceTable) %>PageVo;

/**
 *Name: <%=SourceTable.Description%> 服务类
 *Author: Caicai
 *Date: <%= DateTime.Now.ToString("yyyy-MM-dd") %>
 *Description: <%= String.Format("Copyright {0} CCai", DateTime.Now.ToString("yyyy")) %>
 */ 
public interface <%= GetClassName(SourceTable) %>Service extends BaseService<<%= GetClassName(SourceTable) %>> {

    Paging<<%= GetClassName(SourceTable) %>PageVo> getPageList(<%= GetClassName(SourceTable) %>ParamDto param) throws Exception;
    
    Boolean add<%= GetClassName(SourceTable) %>(<%= GetClassName(SourceTable) %>FormDto form) throws Exception;

    Boolean update<%= GetClassName(SourceTable) %>(<%= GetClassName(SourceTable) %>FormDto form) throws Exception;
    
    Boolean checkNameUnique(<%= GetClassName(SourceTable) %>FormDto form);
    
    Integer selectCount2(<%= GetClassName(SourceTable) %>ParamDto param);
}
 
<!-- #include file="script.inc" -->