<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Collections" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
package <%=Package%>.dbs.dao;

import <%=Package%>.dbs.entity.<%= GetClassName(SourceTable) %>;
import <%=Package%>.dbs.dao.mapper.<%= GetClassName(SourceTable) %>Mapper;
import org.springframework.stereotype.Repository;

/**
*Name: <%=SourceTable.Name%>
*Author: Caicai
*Date: <%= DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") %>
*Description: <%= String.Format("Copyright {0} CCai", DateTime.Now.ToString("yyyy")) %>
*/ 
@Repository
public class <%= GetClassName(SourceTable) %>Dao extends IqeqServiceImpl<<%= GetClassName(SourceTable) %>Mapper, <%= GetClassName(SourceTable) %>> {

    private final <%= GetClassName(SourceTable) %>Mapper <%= GetVarName(SourceTable) %>Mapper;

    public <%= GetClassName(SourceTable) %>Dao(<%= GetClassName(SourceTable) %>Mapper <%= GetVarName(SourceTable) %>Mapper) {
        this.<%= GetVarName(SourceTable) %>Mapper = <%= GetVarName(SourceTable) %>Mapper;
    }

}

 
<!-- #include file="script.inc" -->