<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Collections" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
package <%=Package%>.dbs.service.impl;

import com.baomidou.mybatisplus.core.conditions.update.LambdaUpdateWrapper;
import com.baomidou.mybatisplus.core.conditions.update.UpdateWrapper;
import <%=Package%>.dbs.dao.<%= GetClassName(SourceTable) %>Dao;
import <%=Package%>.dbs.entity.<%= GetClassName(SourceTable) %>;
import <%=Package%>.dbs.dao.mapper.<%= GetClassName(SourceTable) %>Mapper;
import <%=Package%>.dbs.service.<%= GetClassName(SourceTable) %>Service;
import com.iqeq.common.utils.StringUtil;
import lombok.AllArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;

import java.util.HashSet;
import java.util.UUID;

/**
*Name: <%=SourceTable.Name%>
*Author: Caicai
*Date: <%= DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") %>
*Description: <%= String.Format("Copyright {0} CCai", DateTime.Now.ToString("yyyy")) %>
*/ 
@Slf4j
@AllArgsConstructor
@Service("<%= GetVarName(SourceTable) %>Service")
public class <%= GetClassName(SourceTable) %>ServiceImpl extends BaseServiceImpl<<%= GetClassName(SourceTable) %>Mapper,<%= GetClassName(SourceTable) %>> implements <%= GetClassName(SourceTable) %>Service {
    
    private <%= GetClassName(SourceTable) %>Dao <%= GetVarName(SourceTable) %>Dao;
  
}
 
<!-- #include file="script.inc" -->