<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" Description="" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Property Name="Namespace" Type="String" Default="org.cai.inspection"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
/**
*Name: <%=SourceTable.Name%>
*Author: Caicai
*Date: <%= DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") %>
*Description: <%= Copyright %>
*/ 
package <%=Namespace%>.mapper.<%= GetDatabaseName(SourceDatabase)%>;

import <%=Namespace%>.model.po.<%= GetClassName(SourceTable) %>;
import <%=Namespace%>.util.MyMapper;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Select;
import org.springframework.stereotype.Component;
import tk.mybatis.mapper.entity.Example;

@Component
public interface <%= GetClassName(SourceTable) %>Mapper extends MyMapper<<%= GetClassName(SourceTable) %>> {

}
<!-- #include file="script.inc" -->