<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
/**
*Name: <%=SourceTable.Name%>
*Author: Caicai
*Date: <%= DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") %>
*Description: <%= String.Format("Copyright {0} CCai", DateTime.Now.ToString("yyyy")) %>
*/ 
package com.iqeq.pad.service.impl;

import com.iqeq.pad.dao.mapper.source1.<%= GetClassName(SourceTable) %>Mapper;
import com.iqeq.pad.pojo.<%= GetClassName(SourceTable) %>;
import com.iqeq.pad.service.<%= GetClassName(SourceTable) %>Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

@Service
public class <%= GetClassName(SourceTable) %>ServiceImpl extends BaseServiceImpl<<%= GetClassName(SourceTable) %>,Integer> implements <%= GetClassName(SourceTable) %>Service {
    @Autowired
    private <%= GetClassName(SourceTable) %>Mapper myMapper;


}
<!-- #include file="script.inc" -->