<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." ResponseEncoding="utf-8" %>
<%@ Property Name="DevelopersName" Type="String" Category="Context" Default="SEO Templates V1.0" Description="The name to include in the comment header" %>
<%@ Property Name="NameSpace" Type="String" Category="Context" Default="Demo" Description="The namespace to use for this class" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>

<%@ Property Name="IncludeInsert" Type="System.Boolean" Default="True" Category="Options" Description="If true insert statements will be generated." %>
<%@ Property Name="IncludeUpdate" Type="System.Boolean" Default="True" Category="Options" Description="If true update statements will be generated." %>
<%@ Property Name="IncludeDelete" Type="System.Boolean" Default="True" Category="Options" Description="If true delete statements will be generated." %>
<%@ Property Name="IncludeGet" Type="System.Boolean" Default="True" Category="Options" Description="If true get statements will be generated." %>
<%@ Property Name="IncludeGetList" Type="System.Boolean" Default="True" Category="Options" Description="If true getlist statements will be generated." %>

<%@ Property Name="InsertPrefix" Type="System.String" Default="Add" Category="Style" Description="Prefix to use for all generated INSERT stored procedures." %>
<%@ Property Name="UpdatePrefix" Type="System.String" Default="Set" Category="Style" Description="Prefix to use for all generated UPDATE stored procedures." %>
<%@ Property Name="DeletePrefix" Type="System.String" Default="Del" Category="Style" Description="Prefix to use for all generated DELETE stored procedures." %>
<%@ Property Name="SelectPrefix" Type="System.String" Default="Get" Category="Style" Description="Prefix to use for all generated SELECT stored procedures." %>
<%@ Property Name="SelectAllPrefix" Type="System.String" Default="Get" Category="Style" Description="Prefix to use for all generated SELECT stored procedures." %>

<%@ Property Name="InsertSuffix" Type="System.String" Default="" Category="Style" Optional="true" Description="Suffix to use for all generated INSERT stored procedures." %>
<%@ Property Name="UpdateSuffix" Type="System.String" Default="" Category="Style" Optional="true" Description="Suffix to use for all generated UPDATE stored procedures." %>
<%@ Property Name="DeleteSuffix" Type="System.String" Default="" Category="Style" Optional="true" Description="Suffix to use for all generated DELETE stored procedures." %>
<%@ Property Name="SelectSuffix" Type="System.String" Default="By" Category="Style" Optional="true" Description="Suffix to use for all generated SELECT stored procedures." %>
<%@ Property Name="SelectAllSuffix" Type="System.String" Default="" Category="Style" Optional="true" Description="Suffix to use for all generated SELECT stored procedures." %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
// File: <%= GetEntClassName(SourceTable) %>Edit.aspx.cs
// <%=DateTime.Now.ToShortDateString() %>: <%=DevelopersName %>    Original Version
// 
// ===================================================================
using System;
using System.Data;
using System.Configuration;
using System.Collections;
using System.Web;
using System.Web.Security;
using System.Web.UI;
using System.Web.UI.WebControls;
using System.Web.UI.WebControls.WebParts;
using System.Web.UI.HtmlControls;
using <%= NameSpace %>.Ent;
using <%= NameSpace %>.Biz;
//using <%= NameSpace %>.Comm;

public partial class <%= GetEntClassName(SourceTable) %>Edit : System.Web.UI.Page
{
    protected void Page_Load(object sender, EventArgs e)
    {
        if (!Page.IsPostBack)
        {
            this.LoadInfo();
        }
    }
    private int EditId
    {
        get
        {
            string id = Request.QueryString["d"];
            if (string.IsNullOrEmpty(id)) return -1;
            int editId;
            int.TryParse(id, out editId);
            return editId;
        }
    }
    private void LoadInfo()
    {
        //编辑
        int id = EditId;
        if (id > 0)
        {
            BizHelper helper = new BizHelper();
            <%= GetEntClassName(SourceTable) %> ent = helper.<%= SelectPrefix %><%= GetEntClassName(SourceTable) %><%= SelectSuffix %><%=GetPrimaryKeyName(SourceTable)%>(id);
            if (ent == null) return;
            //显示到页面
			<% for (int i = 0; i < SourceTable.Columns.Count; i++) { %>
				<% BuildShowValue(SourceTable.Columns[i]); %>
			<% } %>
        }

    }
    protected void btnOK_Click(object sender, EventArgs e)
    {
        BizHelper helper = new BizHelper();
        <%= GetEntClassName(SourceTable) %> ent = new <%= GetEntClassName(SourceTable) %>();

		//读取页面数据
		<% for (int i = 0; i < SourceTable.Columns.Count; i++) { %>
			<% BuildSetValue(SourceTable.Columns[i]); %>
		<% } %>
		
        int id = EditId;
        ent.<%=GetPrimaryKeyName(SourceTable)%> = id;
        if (id > 0)
        {
            int result = helper.<%= UpdatePrefix %><%= GetEntClassName(SourceTable) %><%= UpdateSuffix %>(ent);
            if (result > 0) Response.Redirect("<%= GetEntClassName(SourceTable) %>List.aspx");
            else Alert("更新失败");
        }
        else
        {
            int result = helper.<%= InsertPrefix %><%= GetEntClassName(SourceTable) %><%= InsertSuffix %>(ent);
            if (result > 0) Response.Redirect("<%= GetEntClassName(SourceTable) %>List.aspx");
            else Alert("添加失败");
        }
    }

    public void Alert(string message)
    {
        if (!this.Page.IsClientScriptBlockRegistered("tips"))
        {
            string script = "<script>alert('" + message + "')</script>";
            this.Page.RegisterClientScriptBlock("tips", script);
        }
    }
}
<script runat="template">
public string GetClassName(TableSchema table)
{
	return  GetEntClassName(table) + "Edit";
}
</script>
<!-- #include file="script.inc" -->