<%-- 
Name:
Author: 
Description: 
--%>

<%@ Register Name="Entity" Template="D:\Program Files (x86)\CodeSmith\v6.5\Templates\Templates\IQEQ\Java数据库底层代码\elderlylive\Bean.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="Service" Template="D:\Program Files (x86)\CodeSmith\v6.5\Templates\Templates\IQEQ\Java数据库底层代码\elderlylive\Service.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="Mapper" Template="D:\Program Files (x86)\CodeSmith\v6.5\Templates\Templates\IQEQ\Java数据库底层代码\elderlylive\Mapper.cst" MergeProperties="False" ExcludeProperties="" %>

<%--<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." ResponseEncoding="utf-8" %>--%>
<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Property Name="OutPutModelDest" Type="String" Default="F:\WROK\api\projects\java\spring\liveplatform\elderlylive\src\main\java\com\iqeq\elderlylive"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Text" %>
<%
CodeTemplate codeTemplate1=new Entity();
codeTemplate1.SetProperty("SourceTable",SourceTable);
string fileName = OutPutModelDest+@"\entity\"+GetClassName(SourceTable)+"Bean.java";
codeTemplate1.RenderToFile(fileName,true);
rendJavaFile(fileName);

try{
CodeTemplate codeTemplate2=new Service();
codeTemplate2.SetProperty("SourceTable",SourceTable);
string fileName2 = OutPutModelDest+@"\service\"+GetClassName(SourceTable)+"Service.java";
codeTemplate2.RenderToFile(fileName2,false);
rendJavaFile(fileName2);
}
catch{
}

try{
CodeTemplate codeTemplate3=new Mapper();
codeTemplate3.SetProperty("SourceTable",SourceTable);
string fileName3 = OutPutModelDest+@"\mapper\source1\"+GetClassName(SourceTable)+"Mapper.java";
codeTemplate3.RenderToFile(fileName3,false);
rendJavaFile(fileName3);
}
catch{
}


%>
<script runat="template">
private void rendJavaFile(string fileName){
    string content=string.Empty;
    using (var sr = new StreamReader(fileName, Encoding.UTF8))
    {
        content= sr.ReadToEnd();
    }

    using(FileStream fs = new FileStream(fileName, FileMode.Create)){
        using(StreamWriter sw = new StreamWriter(fs, new System.Text.UTF8Encoding(false))){
            sw.Write(content);
            //清空缓冲区
            sw.Flush();
        }
    }
}
</script>
<!-- #include file="script.inc" -->