<%-- 
Name:
Author: 
Description: 
--%>

<%@ Register Name="Bean" Template="Bean.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="Dao" Template="Dao.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="Mapper" Template="Mapper.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="Service" Template="Service.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ServiceImpl" Template="ServiceImpl.cst" MergeProperties="False" ExcludeProperties="" %>

<%--<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." ResponseEncoding="utf-8" %>--%>
<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Property Name="OutPutModelDest" Type="String" Default="D:\code\java\tfxgj\tfxgj-service\src\main\java\com\cly\tfxgj\dbs\"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Text" %>
<%


bool cover = false;

CodeTemplate codeTemplate1=new Bean();
codeTemplate1.SetProperty("SourceTable",SourceTable);
string fileName = OutPutModelDest+@"pojo\"+GetClassName(SourceTable)+".java";
codeTemplate1.RenderToFile(fileName,true);
rendJavaFile(fileName);

try{
CodeTemplate codeTemplate2=new Service();
codeTemplate2.SetProperty("SourceTable",SourceTable);
string fileName2 = OutPutModelDest+@"service\"+GetClassName(SourceTable)+"Service.java";
codeTemplate2.RenderToFile(fileName2,cover);
rendJavaFile(fileName2);
}
catch{
}


try{
CodeTemplate codeTemplate3=new Mapper();
codeTemplate3.SetProperty("SourceTable",SourceTable);
string fileName3 = OutPutModelDest+@"dao\mapper\"+GetClassName(SourceTable)+"Mapper.java";
codeTemplate3.RenderToFile(fileName3,cover);
rendJavaFile(fileName3);
}
catch{
}

try{
CodeTemplate codeTemplate4=new ServiceImpl();
codeTemplate4.SetProperty("SourceTable",SourceTable);
string fileName4 = OutPutModelDest+@"service\impl\"+GetClassName(SourceTable)+"ServiceImpl.java";
codeTemplate4.RenderToFile(fileName4,cover);
rendJavaFile(fileName4);
}
catch{
}

try{
CodeTemplate codeTemplate5=new Dao();
codeTemplate5.SetProperty("SourceTable",SourceTable);
string fileName5 = OutPutModelDest+@"dao\"+GetClassName(SourceTable)+"Dao.java";
codeTemplate5.RenderToFile(fileName5,cover);
rendJavaFile(fileName5);
}
catch{
}



%>
<script runat="template">
private void rendJavaFile(string fileName){
    string content=string.Empty;
    using (var sr = new StreamReader(fileName, Encoding.UTF8))
    {
        content= sr.ReadToEnd();
    }

    using(FileStream fs = new FileStream(fileName, FileMode.Create)){
        using(StreamWriter sw = new StreamWriter(fs, new System.Text.UTF8Encoding(false))){
            sw.Write(content);
            //清空缓冲区
            sw.Flush();
        }
    }
}
</script>
<!-- #include file="script.inc" -->