<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Collections" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
package com.iqeq.center.dao.admin;

import java.util.List;
import java.util.Map;
import org.beetl.sql.core.mapper.BaseMapper;
import org.springframework.stereotype.Repository;
import com.iqeq.center.pojo.<%= GetClassName(SourceTable) %>;

/**
*Name: <%=SourceTable.Name%>
*Author: Caicai
*Date: <%= DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") %>
*Description: <%= String.Format("Copyright {0} CCai", DateTime.Now.ToString("yyyy")) %>
*/ 

@Repository
public interface <%= GetClassName(SourceTable) %>Dao extends BaseMapper<<%= GetClassName(SourceTable) %>>{


}
 
<!-- #include file="script.inc" -->