<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
package cn.prodoctors.service.mybatis.dao2.mapper;

import cn.prodoctors.service.mybatis.dao2.MyMapper;
import cn.prodoctors.service.mybatis.domain2.<%= GetClassName(SourceTable) %>;
import org.springframework.stereotype.Component;

/**
*Name: <%=SourceTable.Name%>
*Author: Caicai
*Date: <%= DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") %>
*Description: <%= String.Format("Copyright {0} CCai", DateTime.Now.ToString("yyyy")) %>
*/ 
@Component
public interface <%= GetClassName(SourceTable) %>Mapper extends MyMapper<<%= GetClassName(SourceTable) %>> {

}
<!-- #include file="script.inc" -->