<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
package io.nutz.nutzsite.module.cms.dto;

import io.swagger.annotations.ApiModelProperty;
import java.io.Serializable;

/**
*Name: <%=SourceTable.Name%>
*Author: Caicai
*Date: <%= DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") %>
*Description: <%= FilterString(SourceTable.Description)%>
*/ 

public class <%= GetClassName(SourceTable) %>DTO implements Serializable {
    private static final long serialVersionUID = 1L;

    //#region private fields

	<% for (int i = 0; i < SourceTable.Columns.Count; i++) { 
    string description = FilterString(SourceTable.Columns[i].Description);
    string varType = GetCSharpVariableType(SourceTable.Columns[i]);
    %>
    @ApiModelProperty(name = "<%= GetCamelCaseName(SourceTable.Columns[i].Name) %>", value = "<%=description%>")
    private <%=varType%> <%= GetCamelCaseName(SourceTable.Columns[i].Name) %>;
    <% if (i < SourceTable.Columns.Count - 1) Response.Write("\r\n"); %>
    <%}%>
    
    //#endregion
    
    
    //#region getter and setter
    <% for (int i = 0; i < SourceTable.Columns.Count; i++) {%>
    <%if(!GetIsOverride(SourceTable.Columns[i])){%>
    public <%= GetCSharpVariableType(SourceTable.Columns[i]) %> <%=GetCamelCaseName("get_"+SourceTable.Columns[i].Name)%>() {
        return <%= GetCamelCaseName(SourceTable.Columns[i].Name) %>;
    }
    <%} %>
    <%if(!GetIsOverride(SourceTable.Columns[i])){%>
    public void <%=GetCamelCaseName("set_"+SourceTable.Columns[i].Name)%>(<%= GetCSharpVariableType(SourceTable.Columns[i]) %> <%= GetCamelCaseName(SourceTable.Columns[i].Name) %>) {
        this.<%= GetCamelCaseName(SourceTable.Columns[i].Name) %> = <%= GetCamelCaseName(SourceTable.Columns[i].Name) %>;
    }
    <%} %>
    <%}%>
    //#endregion
}
 
<!-- #include file="script.inc" -->