<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
package io.nutz.nutzsite.module.cms.services;

import io.nutz.nutzsite.common.service.BaseService;
import io.nutz.nutzsite.module.cms.models.<%= GetClassName(SourceTable) %>;

/**
*Name: <%=SourceTable.Name%>
*Author: Caicai
*Date: <%= DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") %>
*Description: <%= FilterString(SourceTable.Description)%>
*/ 

public interface <%= GetClassName(SourceTable) %>Service extends BaseService<<%= GetClassName(SourceTable) %>> {


}
<!-- #include file="script.inc" -->