<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Collections" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
package <%=Package%>.dal.dataobject;

import cn.hutool.core.date.DatePattern;
import com.alibaba.fastjson.annotation.JSONField;
import com.baomidou.mybatisplus.annotation.*;
import com.fasterxml.jackson.annotation.JsonFormat;
import io.gitee.cly2012.mybatis.dataobject.BaseDO;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.*;

import java.util.Date;
import java.io.Serializable;
<% Init();  %>
<script runat="template">
ArrayList removeNames = new ArrayList(){"create_by","create_time","update_by","update_time","del_flag"};
</script>
/**
* <%=SourceTable.Description%> Base VO，提供给添加、修改、详细的子 VO 使用
* 如果子 VO 存在差异的字段，请不要添加到这里，影响 Swagger 文档生成
*/

@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
@EqualsAndHashCode(callSuper = true)
@ToString(callSuper = true)
@TableName("<%= SourceTable.Name%>")
@ApiModel("<%=SourceTable.Description%>   数据库对象")
public class <%= GetClassName(SourceTable) %>DO extends BaseDO {

	<%
    for (int i = 0; i < allList.Count; i++) { 
    ColumnSchema column = (ColumnSchema)allList[i];
    if(removeNames.Contains(column.Name))
        continue;
    %>
    <% WriteEntityField(column);%>
    <% WriteWrap(i);%>
    <%}%>
}
 
<!-- #include file="script.inc" -->
<!-- #include file="script2.inc" -->