<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Collections" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
package <%=Package%>.controller.<%=Project%>.<%=Module%>.vo.list;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.*;
<% Init();  %>
<script runat="template">
ArrayList removeNames = new ArrayList(){"id","salt","create_by","create_time","update_by","update_time","del_flag"};
</script>

@ApiModel(" <%=Project%> - <%=SourceTable.Description%> 列表 Request VO")
@Data
public class <%=GetPascalCaseName(Project)%><%= GetClassName(SourceTable) %>ListReqVO {

	<%
    for (int i = 0; i < allList.Count; i++) { 
    ColumnSchema column = (ColumnSchema)allList[i];
    if(removeNames.Contains(column.Name))
        continue;
    %>
    <% WriteFormField(column);%>
    <% WriteWrap(i);%>
    <%}%>
}
 
<!-- #include file="script.inc" -->
<!-- #include file="script2.inc" -->