<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Collections" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
package <%=Package%>.controller.<%=Project%>.<%=Module%>.vo.page;

import <%=Package%>.controller.<%=Project%>.<%=Module%>.vo.base.<%=GetPascalCaseName(Project)%><%= GetClassName(SourceTable) %>BaseVO;
import cn.hutool.core.date.DatePattern;
import com.alibaba.fastjson.annotation.JSONField;
import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import io.gitee.cly2012.pojo.PageParam;
import lombok.*;
import java.math.BigDecimal;
import java.io.Serializable;
import java.util.Date;
import java.util.HashMap;
import java.util.Map;
import java.util.Objects;
<% Init();  %>
<script runat="template">
ArrayList displayNames = new ArrayList(){"id","create_by","create_time","update_by","update_time","del_flag"};
</script>

@ApiModel(" <%=Project%> - <%=SourceTable.Description%> 分页 Response VO")
@Data
@EqualsAndHashCode(callSuper = true)
@ToString(callSuper = true)
public class <%=GetPascalCaseName(Project)%><%= GetClassName(SourceTable) %>PageRespVO extends <%=GetPascalCaseName(Project)%><%= GetClassName(SourceTable) %>BaseVO{

	<%
    for (int i = 0; i < allList.Count; i++) { 
    ColumnSchema column = (ColumnSchema)allList[i];
    if(!displayNames.Contains(column.Name))
        continue;
    %>
    <% WriteFormField(column);%>
    <% WriteWrap(i);%>
    <%}%>
}
 
<!-- #include file="script.inc" -->
<!-- #include file="script2.inc" -->