<%-- 
Name:
Author: 
Description: 
--%>

<%@ Register Name="Entity" Template="D:\Program Files (x86)\CodeSmith\v6.5\Templates\Templates\IQEQ\C#数据库底层代码\ZZ后台模版\TEST.cst" MergeProperties="False" ExcludeProperties="" %>

<%@ Template Language="C#" TargetLanguage="Text" %>
<%@ Property Name="DevelopersName" Type="String" Category="Context" Default="Cly v1.0" Description="The name to include in the comment header" %>
<%@ Property Name="NameSpace" Type="String" Category="Context" Default="Cly.Entitys" Description="The namespace to use for this class" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Property Name="OutPutModelDest" Type="String" Default="F:\STUDY\study\code\mycode\ZZ\Cly.Entitys"%>
 
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
 
<%
CodeTemplate codeTemplate1=new Entity();
codeTemplate1.SetProperty("DevelopersName",DevelopersName);
codeTemplate1.SetProperty("NameSpace",NameSpace);
codeTemplate1.SetProperty("SourceTable",SourceTable);
codeTemplate1.RenderToFile(OutPutModelDest+@"\"+GetEntClassName(SourceTable)+".cs",true);


%>
<script runat="template">

public string GetClassName(TableSchema table)
{
	return GetEntClassName(table);
}

public string GetModelName(TableSchema table)
{
    return GetEntClassName(table);
}
</script>
<!-- #include file="script.inc" -->