<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." ResponseEncoding="utf-8" %>
<%@ Property Name="DevelopersName" Type="String" Category="Context" Default="Cly v1.0" Description="The name to include in the comment header" %>
<%@ Property Name="NameSpace" Type="String" Category="Context" Default="Cly.Entitys" Description="The namespace to use for this class" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
using Chloe.Entity;
using System;

namespace <%= NameSpace %>
{
    /// <summary>
	/// File: <%= GetClassName(SourceTable) %>.cs 数据实体基类
	/// </summary>
	/// <remarks>
	/// <para>Author: "<%= DevelopersName %>"</para>
	/// <para>Date: "<%= DateTime.Now.ToString("yyyy-MM-dd") %>"</para>
	/// <para>Version: "V1.0"</para>
	/// <para>Copyright: "<%= Copyright %>"</para>
	/// </remarks>
    [Table("<%=SourceTable.Name%>")]
	public class <%= GetClassName(SourceTable) %>
	{  
		<% for (int i = 0; i < SourceTable.Columns.Count; i++) { 
        bool isIdentity = SourceTable.Columns[i].ExtendedProperties["CS_IsIdentity"].Value.ToString()=="True";
        bool isPk = SourceTable.Columns[i].IsPrimaryKeyMember;
        %>
		/// <summary>
		/// <%= FilterString(SourceTable.Columns[i].Description)%>
		/// </summary>
        <% if (isPk){%>
        [Column(IsPrimaryKey = true)]
        <%}%>
        <% if (isIdentity){%>
        [AutoIncrement]
        <%}%>
        public <%= GetCSharpVariableType(SourceTable.Columns[i]) %> <%= GetPascalCaseName(SourceTable.Columns[i].Name) %> { get; set;}
		<% if (i < SourceTable.Columns.Count - 1) Response.Write("\r\n"); %>		
		<% } %> 
	}
}
 
 <script runat="template">

public string GetClassName(TableSchema table)
{
	return GetEntClassName(table);
}
</script>
<!-- #include file="script.inc" -->