<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Collections" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
package <%=Package%>.<%=Project%>.<%=Module%>.controller;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import javax.validation.Valid;

import <%=Package%>.<%=Project%>.<%=Module%>.entity.<%= GetClassName(SourceTable)%>;
import <%=Package%>.<%=Project%>.<%=Module%>.service.<%= GetClassName(SourceTable)%>Service;
import <%=Package%>.<%=Project%>.<%=Module%>.service.param.<%= GetClassName(SourceTable)%>QueryParam;
import <%=Package%>.<%=Project%>.<%=Module%>.service.vo.page.<%= GetClassName(SourceTable)%>QueryPageVo;
import <%=Package%>.common.web.controller.BaseController;
import <%=Package%>.common.api.ApiResult;
import <%=Package%>.common.web.vo.Paging;
import <%=Package%>.common.web.param.IdParam;


/**
*Name: <%=SourceTable.Description%>前端控制器
*Author: Caicai
*Date: <%= DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") %>
*Description: <%= String.Format("Copyright {0} CCai", DateTime.Now.ToString("yyyy")) %>
*/ 
@Slf4j
@RestController
@RequestMapping("/<%= GetVarName(SourceTable)%>")
@Api(tags = "<%=SourceTable.Description%>API")
public class <%= GetClassName(SourceTable)%>Controller extends BaseController {

    @Autowired
    private <%= GetClassName(SourceTable)%>Service <%= GetVarName(SourceTable)%>Service;

    /**
    * 添加<%=SourceTable.Description%>
    */
    @PostMapping("/add")
    @ApiOperation(value = "添加<%= GetClassName(SourceTable)%>对象",notes = "添加<%=SourceTable.Description%>",response = ApiResult.class)
    public ApiResult<Boolean> add<%= GetClassName(SourceTable)%>(@Valid @RequestBody <%= GetClassName(SourceTable)%> <%= GetVarName(SourceTable)%>) throws Exception{
        boolean flag = <%= GetVarName(SourceTable)%>Service.save(<%= GetVarName(SourceTable)%>);
        return ApiResult.result(flag);
    }

    /**
    * 修改<%=SourceTable.Description%>
    */
    @PostMapping("/update")
    @ApiOperation(value = "修改<%= GetClassName(SourceTable)%>对象",notes = "修改<%=SourceTable.Description%>",response = ApiResult.class)
    public ApiResult<Boolean> update<%= GetClassName(SourceTable)%>(@Valid @RequestBody <%= GetClassName(SourceTable)%> <%= GetVarName(SourceTable)%>) throws Exception{
        boolean flag = <%= GetVarName(SourceTable)%>Service.updateById(<%= GetVarName(SourceTable)%>);
        return ApiResult.result(flag);
    }

    /**
    * 删除<%=SourceTable.Description%>
    */
    @PostMapping("/delete")
    @ApiOperation(value = "删除<%= GetClassName(SourceTable)%>对象",notes = "删除<%=SourceTable.Description%>",response = ApiResult.class)
    public ApiResult<Boolean> delete<%= GetClassName(SourceTable)%>(@Valid @RequestBody IdParam idParam) throws Exception{
        boolean flag = <%= GetVarName(SourceTable)%>Service.removeById(idParam.getId());
        return ApiResult.result(flag);
    }

    /**
    * 获取<%=SourceTable.Description%>
    */
    @PostMapping("/info")
    @ApiOperation(value = "获取<%= GetClassName(SourceTable)%>对象详情",notes = "查看<%=SourceTable.Description%>",response = <%= GetClassName(SourceTable)%>.class)
    public ApiResult<<%= GetClassName(SourceTable)%>> get<%= GetClassName(SourceTable)%>(@Valid @RequestBody IdParam idParam) throws Exception{
        <%= GetClassName(SourceTable)%> <%= GetVarName(SourceTable)%> = <%= GetVarName(SourceTable)%>Service.getById(idParam.getId());
        return ApiResult.ok(<%= GetVarName(SourceTable)%>);
    }

    /**
     * <%=SourceTable.Description%>分页列表
     */
    @PostMapping("/getPageList")
    @ApiOperation(value = "获取<%= GetClassName(SourceTable)%>分页列表",notes = "<%=SourceTable.Description%>分页列表",response = <%= GetClassName(SourceTable)%>QueryPageVo.class)
    public ApiResult<Paging<<%= GetClassName(SourceTable)%>QueryPageVo>> get<%= GetClassName(SourceTable)%>PageList(@Valid @RequestBody(required = false) <%= GetClassName(SourceTable)%>QueryParam <%= GetVarName(SourceTable)%>QueryParam) throws Exception{
        Paging<<%= GetClassName(SourceTable)%>QueryPageVo> paging = <%= GetVarName(SourceTable)%>Service.getPageList(<%= GetVarName(SourceTable)%>QueryParam);
        return ApiResult.ok(paging);
    }

}

 
<!-- #include file="script.inc" -->