<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Collections" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
package <%=Package%>.dbs.pojo.dto.form;

import cn.hutool.core.date.DatePattern;
import com.alibaba.fastjson.annotation.JSONField;
import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import java.io.Serializable;
import java.util.Date;
import java.util.HashMap;
import java.util.Map;
<% Init();  %>
<script runat="template">
ArrayList removeList = new ArrayList(){"domain","del_flag","create_by","create_time","update_by","update_time"};

</script>
/**
 *Name: <%=SourceTable.Description%> 表单对象
 *Author: Caicai
 *Date: <%= DateTime.Now.ToString("yyyy-MM-dd") %>
 *Description: <%= String.Format("Copyright {0} CCai", DateTime.Now.ToString("yyyy")) %>
 */ 
@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
@ApiModel("<%=SourceTable.Description%>   表单对象")
public class <%= GetClassName(SourceTable) %>Form implements Serializable{

    private static final long serialVersionUID = 1L;
    
	<%
    for (int i = 0; i < allList.Count; i++) { 
    ColumnSchema column = (ColumnSchema)allList[i];
    if(removeList.Contains(column.Name))
        continue;
    %>
    <% WriteFormField(column);%>
    <% WriteWrap(i);%>
    <%}%>
}
 
<!-- #include file="script.inc" -->
<!-- #include file="script2.inc" -->