<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Collections" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
package <%=Package%>.pojo.dto.param;

import cn.hutool.core.date.DatePattern;
import com.alibaba.fastjson.annotation.JSONField;
import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import java.io.Serializable;
import java.util.Date;
import java.util.HashMap;
import java.util.Map;
import com.cly.model.param.OrderQueryParam;
import lombok.EqualsAndHashCode;

/**
 *Name: <%=SourceTable.Description%>  查询参数对象
 *Author: Caicai
 *Date: <%= DateTime.Now.ToString("yyyy-MM-dd") %>
 *Description: <%= String.Format("Copyright {0} CCai", DateTime.Now.ToString("yyyy")) %>
 */
<% Init();  %>
@Data
@EqualsAndHashCode(callSuper = true)
public class <%= GetClassName(SourceTable) %>QueryParam extends OrderQueryParam {
    <%
    for (int i = 0; i < allList.Count; i++) { 
    ColumnSchema column = (ColumnSchema)allList[i];
    string type = GetCSharpVariableType(column);
    %>
    <% WriteQueryParamField(column);%>
    <% WriteWrap(i);%>
    <%}%>
}
 
<!-- #include file="script.inc" -->
<!-- #include file="script2.inc" -->